<%- include("head") %>
  <body class="container">
    <!-- Header section -->
    <%- include("header") %>


      <section class="departments">
      <div class="departments__content">
      <h2 class="departments__content--title">Our Departments</h2>
      <a href="/departments/sundayschool" class="departments__content--link">
        <span></span><span></span><span></span><span></span>
        Sunday School Department</a>
      <a href="/departments/youth" class="departments__content--link">
        <span></span><span></span><span></span><span></span>
        Youth Department</a>
      <a href="/departments/women" class="departments__content--link">
        <span></span><span></span><span></span><span></span>
        Women Department</a>
      <a href="/departments/men" class="departments__content--link">
        <span></span><span></span><span></span><span></span>
        Men Department</a>
    
      </div>
    </section>

      <!-- Content 1 -->
      <section class="motto">
      <div class="motto__content">
        <h2 class="motto__content--title">Mission</h2>
        <p class="motto__content--para">
          To fulfill the great commandment and great commission of the Lord Jesus Christ according to the great plan (Mark 12:30-31; Mathew 28:19-20;Acts 1 :8).
        </p>
        <a href="#" class="motto__content--link">
          <span></span><span></span><span></span><span></span>
          Find Out More
        </a>
      </div>
      <!-- Content 2 -->
      <div class="motto__content">
        <h2 class="motto__content--title">Vision</h2>
        <p class="motto__content--para">
          The whole church taking the Whole Gospel to the Whole world.
          (Kanisa lote,likieneza injili yote, Kwa ulimwengu wote)

        </p>
        <a href="#" class="motto__content--link">
          <span></span><span></span><span></span><span></span>
          Find Out More
        </a>
      </div>
    </section>

    <section class="gallery-text">
      <div class="gallery-text__content">
        <h2 class="gallery-text__content--title">Gallery</h2>
      </div>
    </section>
    <section class="slider">
      
      <!-- Image Container -->
      <div class="slider__img-container">
        <ul class="slider__img-container--list">
          <li class="slider__img-container--list__item current--img">

            <img src="/img/Gallery/gallery-1.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Lorem ipsum dolor sit amet.</h2>
              <p class="slider__img-container--list__item--content__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laudantium veritatis fugiat dicta voluptatem corrupti laborum sapiente itaque sed dolor!</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-2.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-3.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-4.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-5.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-6.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-7.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-8.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/gallery-9.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item ">
            <img src="/img/Gallery/gallery-10.jpg" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
        </ul>
        <!-- Button Left -->
      <button class="slider__btn slider__btn--left">
        <i class="icons fas fa-caret-left"></i>
      </button>
        <!-- Button Right -->
        <button class="slider__btn slider__btn--right">
          <i class="icons fas fa-caret-right"></i>
        </button>
       
      </div>
    </section>
    
  
    
    <!-- Scroll to top button -->
    <div class="scroll"></div>

    <%- include("footer") %>
  </body>
</html>
