<footer class="footer">
  <!-- Footer content -->
  <div class="footer__content">
    <!-- About us -->
    <div class="footer__content--about-us footer__content--section">
      <i class="fas fa-user-friends icons"></i>
      <h3
        class="footer__content--about-us__title footer__content--section__title"
      >
        About us
      </h3>
      <a
        href="#"
        class="footer__content--about-us__link footer__content--section__link"
        >What we do</a
      >
      <a
        href="#"
        class="footer__content--about-us__link footer__content--section__link"
        >History</a
      >
      <a
        href="#"
        class="footer__content--about-us__link footer__content--section__link"
        >Location</a
      >
      <a
        href="#"
        class="footer__content--about-us__link footer__content--section__link"
        >Management Team</a
      >
    </div>
    <!-- Church Servises -->
    <div class="footer__content--classes footer__content--section">
      <i class="fas fa-dumbbell icons"></i>
      <h3
        class="footer__content--classes__title footer__content--section__title"
      >
        Services
      </h3>
      <a
        href="#"
        class="footer__content--classes__link footer__content--section__link"
        >Overview</a
      >

      <a
        href="#"
        class="footer__content--classes__link footer__content--section__link"
        >Find out more</a
      >
    </div>

    <!-- Newsletter -->
    <div class="footer__content--newsletter footer__content--section">
      <i class="far fa-newspaper icons"></i>
      <h3
        class="
          footer__content--newsletter__title footer__content--section__title
        "
      >
        Newsletter
      </h3>
      <p
        class="footer__content--newsletter__para footer__content--section__para"
      >
        Subscribe to our newsletter to receive regular updates & news from us.
      </p>
      <input type="email" placeholder="Your Email" />
      <input type="submit" value="send" />
    </div>

    <!-- Head office -->
    <div class="footer__content--address footer__content--section">
      <!-- Address -->
      <i class="fas fa-map-marked-alt icons"></i>
      <h3
        class="footer__content--address__title footer__content--section__title"
      >
        Head office
      </h3>
      <p class="footer__content--address__para footer__content--section__para">
        Bomet
      </p>
      <!-- Email -->
      <i class="far fa-envelope-open icons"></i>
      <h3
        class="footer__content--address__title footer__content--section__title"
      >
        Email us
      </h3>
      <p
        class="footer__content--address__para footer__content--section__para"
      ></p>
    </div>
  </div>

  <!-- Footer Logo -->
  <div class="footer__logo">
    <img src="/img/logo/logo.svg" alt="footer-logo" />
    <span>Riverside</span>
  </div>

  <!-- Footer Social -->
  <div class="footer__social">
    <!-- Call -->
    <div class="footer__social--call">
      <i class="fas fa-phone-alt icons"></i>
      <p class="footer__social--call__para">CALL US NOW: XXXX XXXX XXXX</p>
    </div>

    <!-- Social Icons -->

    <div class="footer__social--icons">
      <!-- Facebook -->
      <a href="" class="footer__social--icons__link">
        <i class="fab fa-facebook-f icons"></i>
      </a>
      <!-- Instagram -->
      <a href="" class="footer__social--icons__link">
        <i class="fab fa-instagram icons"></i>
      </a>
      <!-- YouTube -->
      <a href="" class="footer__social--icons__link">
        <i class="fab fa-youtube icons"></i>
      </a>
      <!-- Twitter -->
      <a href="" class="footer__social--icons__link">
        <i class="fab fa-twitter icons"></i>
      </a>
    </div>
  </div>
</footer>
<!-- Nav -->
<!-- <script src="/js/nav.js"></script> -->
<!-- Dark mode -->
<!-- <script src="/js/dark-mode.js"></script> -->
<!-- Testimonials -->
<!-- <script src="/js/testimonials.js"></script> -->
<!-- scroll -->
<!-- <script src="/js/scroll.js"></script> -->
<!-- form -->
<!-- <script src="/js/form.js"></script> -->
<!-- Gallery -->
<!-- <script src="/js/script.js"></script> -->
<!-- Filter Sermons -->
<!-- <script src="/js/filter.js"></script> -->
<!-- paginate Sermons -->
<!-- <script src="/js/paginate.js"></script> -->
<script src="/bundled/main.bundle.js"></script>
