<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <!-- Google fonts -->
   <link rel="stylesheet" href="/Balsamiq_Sans/BalsamiqSans-Bold.ttf" />
   <link rel="stylesheet" href="/Balsamiq_Sans/BalsamiqSans-Regular.ttf" />

   <!-- fontawesome -->
   <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
   <link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css" />
   <link rel="stylesheet" href="/fontawesome/css/regular.min.css" />
   <link rel="stylesheet" href="/fontawesome/css/solid.min.css" />
   <link rel="stylesheet" href="/fontawesome/css/brands.min.css" />
   <script src="/fontawesome/js/all.min.js"></script>
   <script src="/fontawesome/js/fontawesome.min.js"></script>
   <script src="/fontawesome/js/regular.min.js"></script>
   <script src="/fontawesome/js/solid.min.js"></script>
   <script src="/fontawesome/js/brands.min.js"></script>
   <!-- favicon -->
   <link rel="shortcut icon" href="./img/logo/favicon.svg" />
   <!-- Main stylesheet -->
   <link rel="stylesheet" href="/css/main-style.css" />
   <title>Riverside A.G.C| Bomet</title>
 </head>