<!-- Header section -->
<header class="header">
  <!-- Navigation -->
  <button class="btn toggle-btn">
    <i class="fas fa-bars icons"></i>
  </button>
  <nav class="header__nav">
    <ul class="header__nav--links">
      <li><a class="header__nav--links__item" href="/">home</a></li>
      <li><a class="header__nav--links__item" href="/about">about</a></li>
      <li><a class="header__nav--links__item" href="/give">give</a></li>
      <li><a class="header__nav--links__item" href="#">departments</a></li>
      <li>
        <a class="header__nav--links__item" href="/sermons">sermons</a>
      </li>
      <li><a class="header__nav--links__item" href="#">updates</a></li>
    </ul>
  </nav>
  <!-- Sidebar -->
  <div class="header__sidebar-wrapper">
    <aside class="header__sidebar-wrapper--sidebar">
      <button class="close-btn">
        <i class="fas fa-times"></i>
      </button>
      <div class="header__sidebar-wrapper--sidebar__links"></div>
    </aside>
  </div>
  <!-- links -->
  <aside class="header__submenu"></aside>
</header>
