<header class="header">
  <div class="header__menu">
    <!-- Hamburger lines container -->
    <div class="header__menu--line"></div>
  </div>
  <div class="header__overlay">
    <!-- Navigation -->
    <nav class="header__nav">
      <a href="/" class="header__nav--logo">
        <i class="fas fa-church icons"></i>
      </a>
      <ul class="header__nav--links">
        <li class="header__nav--links__item">
          <a href="/" data-text="Home">Home</a>
        </li>
        <li class="header__nav--links__item">
          <a href="/about" data-text="About">About</a>
        </li>
        <li class="header__nav--links__item">
          <a href="#" data-text="Departments">Departments</a>
          <ul class="header__nav--links__item--submenu">
            <li class="header__nav--links__item--submenu__item">
              <a href="/departments/youth" data-text="Youth">Youth</a>
            </li>
            <li class="header__nav--links__item--submenu__item">
              <a href="/departments/women" data-text="Women">Women</a>
            </li>
            <li class="header__nav--links__item--submenu__item">
              <a href="/departments/men" data-text="Men">Men</a>
            </li>
            <li class="header__nav--links__item--submenu__item">
              <a href="/departments/sundayschool" data-text="SundaySchool"
                ><span>Sunday</span><span>School</span></a
              >
            </li>
          </ul>
        </li>

        <li class="header__nav--links__item">
          <a href="/sermons" data-text="Sermons">Sermons</a>
        </li>
        <li class="header__nav--links__item">
          <a href="#" data-text="Updates">Updates</a>
          <ul class="header__nav--links__item--submenu">
            <li class="header__nav--links__item--submenu__item">
              <a href="/events" data-text="Events">Events</a>
            </li>
            <li class="header__nav--links__item--submenu__item">
              <a href="/news" data-text="News">News</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
