<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <!-- tithes section -->
    <section class="motto">
      <!-- Content 1 -->
      <div class="motto__content">
        <!-- <i class="fab fa-accessible-icon icons"></i> -->
        <h2 class="motto__content--title">Name</h2>
        <p class="motto__content--para">
          The name of this church Africa Gospel Church, (Riverside) hereinafter
          referred to as Africa Gospel Church Riverside (abbreviated as AGC
          Riverside).
        </p>
      </div>
      <!-- Content 1 -->
      <div class="motto__content">
        <!-- <i class="fab fa-accessible-icon icons"></i> -->
        <h2 class="motto__content--title">Mission</h2>
        <p class="motto__content--para">
          To fulfill the great commandment and great commission of the Lord
          Jesus Christ according to the great plan (Mark 12:30-31; Mathew
          28:19-20;Acts 1 :8).
        </p>
      </div>
      <!-- Content 2 -->
      <div class="motto__content">
        <h2 class="motto__content--title">Vision</h2>
        <p class="motto__content--para">
          The whole church taking the Whole Gospel to the Whole world. (Kanisa
          lote,likieneza injili yote, Kwa ulimwengu wote).
        </p>
      </div>
    </section>

    <!-- Scroll to top button -->
    <div class="scroll"></div>

    <%- include("footer") %>
  </body>
</html>
