<header class="header">
  <div class="header__menu">
    <!-- Hamburger lines container -->
    <div class="header__menu--line"></div>
  </div>
  <div class="header__overlay">
    <!-- Navigation -->
    <nav class="header__nav">
      <a href="#" class="header__nav--logo">
        <img src="./img/logo/logo.svg" alt="logo" />
      </a>
      <ul class="header__nav--links">
        <li class="header__nav--links__item">
          <a href="#" data-text="Home">Home</a>
        </li>
        <li class="header__nav--links__item">
          <a href="#" data-text="About">About</a>
        </li>
        <li class="header__nav--links__item">
          <a href="#" data-text="Services">Services</a>
        </li>
        <li class="header__nav--links__item">
          <a href="#" data-text="Sermons">Sermons</a>
        </li>
        <li class="header__nav--links__item">
          <a href="#" data-text="News">News</a>
        </li>
        <li class="header__nav--links__item">
          <a href="#" data-text="Events">Events</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
