<!-- Register section -->
<section class="register">
  <!-- Register content -->
  <div class="register__content">
    <div class="register__content--form">
      <!-- First page starts here -->
      <div class="register__content--form__page">
        <!-- First Name -->
        <div class="register__content--form__page--field">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" />
        </div>
        <!-- Phone Number -->
        <div class="register__content--form__page--field">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" />
        </div>
        <!-- Next button -->
        <div class="register__content--form__page--field">
          <button class="next-1 next">Next</button>
        </div>
      </div>
      <!-- First page ends here -->

      <!-- Second page starts here -->
      <div class="register__content--form__page">
        <!-- Date of birth-->
        <div class="register__content--form__page--field">
          <label for="email-address">Email</label>
          <input type="email" id="email-address" />
        </div>
        <!-- Phone Number -->
        <div class="register__content--form__page--field">
          <label for="phone-number">Phone Number</label>
          <input type="number" id="phone-number" />
        </div>
        <!-- Next button -->
        <div class="register__content--form__page--field btns">
          <button class="prev-1 prev">Previous</button>
          <button class="next-2 next">Next</button>
        </div>
      </div>
      <!-- Second page ends here -->
      <!-- Third page starts here -->
      <div class="register__content--form__page">
        <!-- Date of birth-->
        <div class="register__content--form__page--field">
          <label for="date-of-birth">Date of birth</label>
          <input type="date" id="date-of-birth" />
        </div>
        <!-- Gender -->
        <div class="register__content--form__page--field">
          <label for="phone-number">Gender</label>
          <select>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
          </select>
        </div>
        <!-- Next button -->
        <div class="register__content--form__page--field btns">
          <button class="prev-2 prev">Previous</button>
          <button class="next-3 next">Next</button>
        </div>
      </div>
      <!-- Third page ends here -->
      <!-- Fourth page starts here -->
      <div class="register__content--form__page">
        <!-- Username-->
        <div class="register__content--form__page--field">
          <label for="username">Username</label>
          <input type="text" id="username" />
        </div>
        <!-- Password -->
        <div class="register__content--form__page--field">
          <label for="password">Password</label>
          <input type="password" id="password" />
        </div>
        <!-- Next button -->
        <div class="register__content--form__page--field btns">
          <button class="prev-3 prev">Previous</button>
          <button class="submit">submit</button>
        </div>
      </div>
      <!-- Fourth page ends here -->
    </div>
  </div>
</section>
