
 <%- include("head") %>
  <body class="container">
    <!-- Header section -->
    <%- include("header") %>
    <!-- showcase section -->
    <section class="tithes">
      
      <!-- Content -->
      <div class="tithes__content">
        <h2 class="tithes__content--title">Thank You!! May God Bless, You will be prompted to enter your M-PESA PIN</h2>
        <div class="tithes__content--para">
          <ul class="tithes__content--para__list">
            <li class="tithes__content--para__list--item">Giving obeys God’s command</li>
            <li class="tithes__content--para__list--item">
              Giving submits to God’s Lordship
            </li>
            <li class="tithes__content--para__list--item">Giving exhibits God’s heart</li>
            <li class="tithes__content--para__list--item">Giving illustrates God’s salvation</li>
            <li class="tithes__content--para__list--item">Giving trusts God’s provision</li>
          </ul>
          <ul class="tithes__content--para__list">
            <li class="tithes__content--para__list--item">Giving widens God’s smile</li>
            <li class="tithes__content--para__list--item">Giving advances God’s kingdom</li>
            <li class="tithes__content--para__list--item">Giving promotes God’s sanctification</li>
            <li class="tithes__content--para__list--item">Giving testifies to God’s power</li>
            <li class="tithes__content--para__list--item">Giving praises God’s character</li>
          </ul>
        </div>
      </div>
    </section>
   
    <%- include("footer") %>
  </body>
</html>
