<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <%- include("header") %>

    <!-- tithes section -->
    <!-- <section class="tithesandoffering"> -->
    <section class="tithes">
      <!-- Content -->
      <div class="tithes__content">
        <!-- <i class="fab fa-accessible-icon icons"></i> -->
        <h2 class="tithes__content--title">Tithes and Offerings</h2>

        <div class="tithes__content--para">
          <h3 class="tithes__content--para__heading">Below is the procedure</h3>
          <ul class="tithes__content--para__list">
            <li class="tithes__content--para__list--item">procedure 1</li>
            <li class="tithes__content--para__list--item">procedure 2</li>
            <li class="tithes__content--para__list--item">procedure 3</li>
            <li class="tithes__content--para__list--item">procedure 4</li>
            <li class="tithes__content--para__list--item">procedure 5</li>
            <li class="tithes__content--para__list--item">procedure 6</li>
            <li class="tithes__content--para__list--item">procedure 7</li>
          </ul>
        </div>

        <!-- <h2 class="tithes__content--title">By: Someone</h2> -->
      </div>
    </section>
    <!-- Scroll to top button -->
    <div class="scroll"></div>

    <%- include("footer") %>
  </body>
</html>
