<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <%- include("header") %>

    <!-- tithes section -->
    <!-- <section class="tithesandoffering"> -->
    <section class="register">
      <!-- Register content -->
      <div class="register__content">
        <form class="register__content--form" name="payment">
          <div class="register__content--form__page">
            <!-- UserName -->
            <div class="register__content--form__page--field">
              <label for="phone">Your M-Pesa Phone Number</label>
              <input
                type="number"
                id="phone"
                name="phone"
                placeholder="e.g 0712345678"
              />
            </div>
            <!-- Amount -->
            <div class="register__content--form__page--field">
              <label for="amount">Offering Amount</label>
              <input
                type="number"
                id="amount"
                name="amount"
                placeholder="Amount"
              />
            </div>

            <!--  button -->
            <div class="register__content--form__page--field">
              <button>Start Transaction</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- Scroll to top button -->
    <div class="scroll"></div>

    <%- include("footer") %>
  </body>
</html>
